<?xml version="1.0" encoding="UTF-8"?>
<!-- autor: Jorge Riquelme -->
<!-- fecha: 16/02/2012 -->
<!-- version: $Id: logback.xml 122 2012-08-01 18:00:44Z totex $ -->
<configuration scan="true" scanPeriod="10 seconds">

	<!-- niveles -->
	<logger name="cl.pucv" level="TRACE" />
	<logger name="org.springframework.faces" level="DEBUG" />
	<logger name="org.springframework.webflow" level="DEBUG" />
	<logger name="org.springframework.web" level="TRACE" />
	<logger name="org.springframework.jdbc" level="TRACE" />
	<logger name="javax.enterprise.resource.webcontainer.jsf" level="DEBUG" />
	<logger name="javax.faces" level="DEBUG" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/openport.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- un log por dia -->
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- 30 dias de historia -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
</configuration>
