<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:substituteby="layout :: header">
		<meta charset="UTF-8" />
		<title>Yarquen Crawler</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link href="../../../bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link href="../../../css/yarquen.css" rel="stylesheet" />
		<link href="../../../bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />

		<script src="../../../js/jquery.js"></script>
		<script src="../../../js/jquery.validate.js"></script>
		<script src="../../../bootstrap/js/bootstrap.min.js"></script>

		<!-- Include Bootstrap Asserts JavaScript Files. -->
		<script type="text/javascript" src="jquery.validate.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner" th:substituteby="layout :: navbar">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" th:href="@{/}" href="../home.html">Yarquen</a>
					<div class="nav-collapse collapse">
						<p class="navbar-text pull-right">Logged in as <a href="#" class="navbar-link">admin</a></p>
						<ul class="nav">
							<li class="active"><a th:href="@{/}" href="../home.html">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#contact">Contact</a></li>
							<li><a href="list.html">Accounts</a></li>
						</ul>
					</div>
				</div>
			</div>
				<ul class="breadcrumb">
					<li><a th:href="@{/}" href="../home.html">Home</a> <span class="divider">/</span></li>
					<li class="active">Account edit</li>
				</ul>
		</div>

		<div class="container-fluid">
			<form class="form-horizontal" id="registerHere" method="post" action='success.html' th:action='@{/account/update}' th:object='${account}'>
			<input type="hidden" th:field="*{id}" class="input-large" id="id" name="id"/>
			<input type="hidden" th:field="*{password}" class="input-large" id="password" name="password"/>
			<fieldset>
			<legend>Account edit</legend>

			<div th:if="${#fields.hasErrors('*')}" id="errors" class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert"></button>
			        <ul >
			            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
			        </ul>
			    </div>

			<div class="control-group">
				<label class="control-label">First Name</label>
				<div class="controls">
					<input type="text" th:field="*{firstName}" class="input-large" id="firstName" name="firstName" rel="popover" data-content="Enter your first name." data-original-title="First Name"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Family Name</label>
				<div class="controls">
					<input type="text" th:field="*{familyName}" class="input-large" id="familyName" name="familyName" rel="popover" data-content="Enter your family name." data-original-title="Family Name"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Email</label>
				<div class="controls">
					<input type="text" th:field="*{email}" class="input-large" id="email" name="email" rel="popover" data-content="What's your email address?" data-original-title="Email"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Username</label>
				<div class="controls">
					<input type="text" th:field="*{username}" class="input-large" id="username" name="username" rel="popover" data-content="What's your username?" data-original-title="Username"/>
				</div>
			</div>
			
			
			
			<div id="roles" class="control-group">
				<label class="control-label">Roles</label>
				<div class="controls">
						<span th:each="role : ${roles}">
							<input type="checkbox" th:field="*{roleId}" th:value="${role.id}" class="checkbox inline"/>
							<label th:for="${#ids.prev('roleId')}" th:text="${role.id}" class="checkbox inline">ADMIN</label>
						</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label"></label>
				<a href="/account/edit.html" th:href="@{/account/passwordChange/}+${account.id}"><i class="icon-edit"></i> Change Password </a>
			</div>

			<div class="control-group">
				<div class="controls" >
					<button type="submit" class="btn btn-success" >Save</button>
					<button type="reset" class="btn" >Cancel</button>
				</div>
			</div>
			</fieldset>
			</form>

			<hr/>
			<footer class="pull-right" th:substituteby="layout :: footer">
				<small class="muted">Yarquen, a focused, semantic, distributed crawler :)</small>
			</footer>
				<script type="text/javascript" th:inline="javascript" sec:authorize="!hasRole('PERM_WRITE_USER')">
				$(document).ready(function()
						{
						$("#roles").css({ display: "none" });
						});
				</script>
			<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			$(document).ready(function()
			{
				// Popover
				$("#registerHere input").popover({ trigger: "hover" });
				


			// Validation
			$("#registerHere").validate({
				rules:{
				firstName:"required",
				familyName:"required",
				username:"required",
				email:{required:true,email: true}
			},

			messages:{
				firstName:"Enter your first name",
				familyName:"Enter your family name",
				username:"Enter your username",
				email:{
				required:"Enter your email address",
				email:"Enter valid email address"}
			},

			errorClass: "help-inline",
			errorElement: "span",
			highlight:function(element, errorClass, validClass)
			{
				$(element).parents('.control-group').addClass('error');
			},
			unhighlight: function(element, errorClass, validClass)
			{
				$(element).parents('.control-group').removeClass('error');
				$(element).parents('.control-group').addClass('success');
				}
			});
			});
			/*]]>*/
			</script>
		</div>
	</body>
</html>
