<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="layout :: header">
<meta charset="UTF-8" />
<title>Yarquen Crawler</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href="../../../bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="../../../css/yarquen.css" rel="stylesheet" />
<link href="../../../bootstrap/css/bootstrap-responsive.css"
	rel="stylesheet" />

<script src="../../../js/jquery.js"></script>
<script src="../../../js/jquery.validate.js"></script>
<script src="../../../bootstrap/js/bootstrap.min.js"></script>

<!-- Include Bootstrap Asserts JavaScript Files. -->
<script type="text/javascript" src="jquery.validate.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner" th:substituteby="layout :: navbar">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" th:href="@{/}" href="../home.html">Yarquen</a>
				<div class="nav-collapse collapse">
					<p class="navbar-text pull-right">
						Logged in as <a href="#" class="navbar-link">admin</a>
					</p>
					<ul class="nav">
						<li class="active"><a th:href="@{/}" href="../home.html">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="breadcrumb">
			<li><a th:href="@{/}" href="../home.html">Home</a> <span
				class="divider">/</span></li>
			<li class="active">Password Change Request</li>
		</ul>
	</div>

	<div class="container-fluid">
		<form class="form-horizontal" id="passwordChangeRequest" method='get'
			action='success.html' th:action='@{/account/forgotPassword}'>
			<fieldset>
				<legend>Password Change Request</legend>

				<div class="control-group">
					<label class="control-label">Verification Email</label>
					<div class="controls">
						<input type="text" class="input-large" id="email" name="email" 
							rel="popover" data-content="What's your email address?"
							data-original-title="Verification Email" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label"></label>
					<div class="controls">
						<button type="submit" class="btn btn-success">Send
							Verification Email</button>
					</div>
				</div>
			</fieldset>
		</form>

		<hr />
		<footer class="pull-right" th:substituteby="layout :: footer">
			<small class="muted">Yarquen, a focused, semantic,
				distributed crawler :)</small>
		</footer>
		<script type="text/javascript" th:inline="javascript">
			/*         */
			$(document)
					.ready(
							function() {
								// Popover
								$("#passwordChangeRequest input").popover({
									trigger : "hover"
								});

								// Validation
								$("#passwordChangeRequest")
										.validate(
												{
													rules : {
														email : {
															required : true,
															email : true
														}
													},

													messages : {
														email : {
															required : "Enter your email address",
															email : "Enter valid email address"
														}
													},

													errorClass : "help-inline",
													errorElement : "span",
													highlight : function(
															element,
															errorClass,
															validClass) {
														$(element)
																.parents(
																		'.control-group')
																.addClass(
																		'error');
													},
													unhighlight : function(
															element,
															errorClass,
															validClass) {
														$(element)
																.parents(
																		'.control-group')
																.removeClass(
																		'error');
														$(element)
																.parents(
																		'.control-group')
																.addClass(
																		'success');
													}
												});
							});
			/*   */
		</script>
	</div>
</body>
</html>
