<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:substituteby="layout :: header">
		<meta charset="UTF-8" />
		<title>Yarquen Crawler</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link href="../../bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link href="../../css/yarquen.css" rel="stylesheet" />
		<link href="../../bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />

		<script src="../../js/jquery.js"></script>
		<script src="../../bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" th:href="@{/}" href="home.html">Yarquen</a>
					<div class="nav-collapse collapse">
						<!--<p class="navbar-text pull-right">Logged in as <a href="#" class="navbar-link">admin</a></p>-->
						<ul class="nav">
							<li class="active"><a th:href="@{/}" href="home.html">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
						<ul class="nav pull-right">
          					<li><a href="account/register.html">Sign Up</a></li>
          					<li class="divider-vertical"></li>
					          <li class="dropdown">
					            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
					            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
					              <form action="articles/search.html" th:action="@{/articles}">
									<fieldset>
										<div class="clearfix">
											<input type="text" placeholder="Username"></input>
										</div>
										<div class="clearfix">
											<input type="password" placeholder="Password"></input>
										</div>
										<button class="btn btn-primary" type="submit">Sign in</button>
									</fieldset>
								</form>
					            </div>
					          </li>
					        </ul>
					</div>
				</div>
			</div>
				<ul class="breadcrumb">
					<li class="active">Home</li>
				</ul>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="hero-unit">
					<p>A focused, semantic, distributed crawler :)</p>

           			<a th:href="@{/articles}" href="articles/search.html">search articles</a>
				</div>
			</div>

			<hr/>
			<footer class="pull-right" th:substituteby="layout :: footer">
				<small class="muted">Yarquen, a focused, semantic, distributed crawler :)</small>
			</footer>
		</div>
	</body>
</html>