<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:substituteby="layout :: header">
<meta charset="UTF-8" />
<title>Yarquen Crawler</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href="../../bootstrap/css/bootstrap.css"
	th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" />
<link href="../../css/yarquen.css" th:href="@{/css/yarquen.css}"
	rel="stylesheet" />
<link href="../../bootstrap/css/bootstrap-responsive.css"
	th:href="@{/bootstrap/css/bootstrap-responsive.css}" rel="stylesheet" />

<script src="../../js/jquery.js" th:href="@{/js/jquery.js}"></script>
<script src="../../bootstrap/js/bootstrap.min.js"
	th:href="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner" th:substituteby="layout :: navbar">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" th:href="@{/}" href="home.html">Yarquen</a>
				<div class="nav-collapse collapse">
					<p class="navbar-text pull-right" th:fragment="logout"
						sec:authorize="isAuthenticated()">
						Logged in as <a href="#" class="navbar-link"
							sec:authentication="name.firtName name.familyName">admin</a> <span
							class="divider-vertical"></span> <a href="index.html"
							class="navbar-link" th:href="@{/j_spring_security_logout}">Logout</a>
					</p>
					<ul class="nav">
						<li class="active"><a th:href="@{/}" href="home.html">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<ul class="nav pull-right" sec:authorize="!isAuthenticated()">
						<li><a href="account/register.html"
							th:href="@{/account/register.html}">Sign Up</a></li>
						<li class="divider-vertical"></li>
						<li class="dropdown"><a class="dropdown-toggle" href="#"
							data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
							<div class="dropdown-menu"
								style="padding: 15px; padding-bottom: 0px;">
								<form action="#" th:action="@{/j_spring_security_check}"
									method="post">
									<fieldset>
										<div class="clearfix">
											<input type="text" id="j_username" name="j_username"
												placeholder="Username" />
										</div>
										<div class="clearfix">
											<input type="password" id="j_password" name="j_password"
												placeholder="Password" />
										</div>
										<button class="btn btn-primary" type="submit">Sign in</button>
									</fieldset>
								</form>
							</div></li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="breadcrumb">
			<li class="active">Home</li>
		</ul>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="alert alert-info no-reports" style="display: block;">
              <h4 class="alert-heading">Info</h4>
              <span th:text="${message}">success operation</span>
            </div>
		</div>

		<hr />
		<footer class="pull-right" th:substituteby="layout :: footer">
			<small class="muted">Yarquen, a focused, semantic,
				distributed crawler :)</small>
		</footer>
	</div>
</body>
</html>
